@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,600;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,600;1,900&display=swap');

/* ---------general css ---------- */

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Poppins;
}

:root {
    --bg-color: rgba(159, 89, 89, 1);
    --bg-color-second: rgb(230, 230, 230);
    --bg-color-third: rgba(201, 147, 147, 1);
    --text-color: rgba(255, 255, 255, 1);
    --text-color-second: rgba(0, 0, 0);
    --main-color: rgb(12, 230, 230);
}


.btn {
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: .5rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.btn-secondry {
    background: transparent;
    color: rgba(0, 0, 0);
    font-weight: 600;
    cursor: pointer;
}

a {
    color: var(--text-color-second);
}

.section {
    min-height: 100dvh;
    position: relative;
}

/* ::-webkit-scrollbar {
    display: none;
} */

button {
    cursor: pointer;
}

.filter-btn {
    padding: .2rem .5rem;
    background-color: var(--bg-color-second);
    border-radius: .2rem;
    display: flex;
    gap: .3rem;
    align-items: center;
}

.filter-btn span i {
    vertical-align: middle;
}

.back-btn {
    display: block;
    font-size: 1rem;
    background: transparent;
    color: rgba(0, 0, 0, 0.46);
    /* padding: 1rem; */
    font-weight: 600;
}

.back-btn i {
    display: inline-block;
    font-size: .6rem;
    margin-right: .1rem;
    font-weight: bolder;
    vertical-align: top;
    padding-top: .3rem;

}

/* ---------- navigation css -------- */

header {
    position: sticky;
    background-color: white;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    border-bottom: .1rem solid rgb(0, 0, 0, .1);
    z-index: 5;
}

.logo img {
    height: 50px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    z-index: 10;
}

.top-nav,
.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    z-index: 20;
    background: var(--text-color);
}

.bottom-nav a i {
    padding: 0 .3rem;
    fill: var(--bg-color);
}

.top-nav li:nth-of-type(2) {
    background: var(--bg-color-second);
    border-radius: 4rem;
    display: flex;
    align-items: center;
    padding: 0 .5rem 0 .4rem;
    gap: .5rem;
    overflow: hidden;
}

.bottom-nav li span {
    display: inline-block;
    font-size: .8rem;
}

.top-nav li img {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.bottom-nav a {
    color: var(--bg-color);
    font-weight: 700;
}

.mobile-menu-toggle {
    display: none;
}

/* sidebar */

.sidebar {
    position: fixed;
    left: 0;
    background: var(--bg-color);
    width: max-content;
    min-height: 100dvh;
    padding: 1rem;
    /* z-index: 0; */
}

.sidebar ul li {
    padding: 1rem 0;
    color: var(--bg-color-second);
}

.sidebar ul li:hover {
    padding: 1rem 0;
    color: var(--bg-color-second);
    cursor: pointer;
}

.sidebar ul li a {
    padding: 1rem 0;
    color: var(--bg-color-second);
}

.sidebar ul li a:hover {
    color: var(--bg-color-third);
}


/* notification */


.notification {
    position: absolute;
    width: 25rem;
    top: 100%;
    right: 0;
    background-color: white;
    display: none;
}

.notification.active {
    display: block;
}

.notification h2 {
    background: var(--bg-color);
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    color: white;

}

.notification h3 {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 1rem 0;
}

.notification button {
    color: var(--bg-color);
    margin: 1rem 10rem;
    font-size: 1rem;
}


/* sidebar-submenu */

.sidebar-submenu {
    position: fixed;
    min-height: 100dvh;
    left: 3rem;
    border-right: .1rem solid rgb(0, 0, 0, .1);
    padding: 1rem 1rem;
    background: var(--text-color);
    z-index: 1;
}

.sidebar-submenu span {
    padding-right: .5rem;
}

.sidebar-submenu ul li {
    padding: 1rem 0;
}

.sidebar-submenu ul li a {
    padding: 1rem 0;
}

.sidebar-submenu ul li:hover {
    transform: scale(1.1);
}

.sidebar-submenu ul li a i {
    padding: 0 .8rem;
}

#content {
    min-height: 100dvh;
    width: 100%;
    padding: 0 2rem 0 16%;
}

/* hero section */

.home {
    position: relative;
}

.home-user {
    background-color: var(--bg-color-second);
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.home-user img {
    width: 100%;
}

.home-user-details {
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    position: relative;
}

.home-user-details img {
    width: 5rem;
}

.user-name span {
    color: var(--main-color);
}

.user-name h3 {
    font-weight: 500;
}

.user-name p {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    color: rgba(0, 0, 0, 0.619);
}

.user-name p i {
    font-size: 1.1rem;
    width: 1rem;
}

.user-name p a {
    color: var(--main-color);
    cursor: pointer;
}

.home-user button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: var(--bg-color-second);
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

/* event */

.home-buttons {
    background: var(--bg-color-second);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-buttons button {
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.home-buttons span {
    font-weight: 400;
    color: var(--bg-color-second);
}

.event-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.event-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.event-heading p {
    display: flex;
    gap: .5rem;
    background: var(--bg-color-second);
    padding: .2rem .5rem;
    border-radius: .3rem;
}

.event-heading p span {
    display: inline-block;
    transform: rotate(90deg);
    font-weight: 700;
}

.home-event {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 0;
    row-gap: 1rem;
    gap: 1rem;
}

.home-event-card {
    width: 100%;
    height: 30rem;
    background-color: var(--bg-color-second);
    border-radius: .5rem;
}

.home-event-card img {
    /* object-fit: contain; */
    width: 100%;
    height: 60%;
    padding: .1rem;
}

.home-event-card-details {
    padding: 1rem 2rem;
}

.home-event-card-details p {
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(0, 0, 0, .6);
}

.home-event-card-details button {
    padding: 1.5rem 0;
    font-weight: 600;
    background: var(--bg-color-second);
}

.home-event-card-details button span {
    padding-left: .5rem;
    width: 3rem;
    font-weight: 600;
}

.news {
    background-color: var(--bg-color-third);
    padding: 1rem 9%;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}

.input {
    width: 30%;
    display: flex;
    gap: 2rem;
    align-items: center;
    border: .1rem solid var(--text-color);
    border-radius: .5rem;
    padding: 0;
}

.input input {
    border: none;
    outline: none;
    background: none;
    color: var(--text-color);
    padding: 0 2rem;
}

.news .input input[type="email"] {
    border: none;
    padding: 8px;
    border-radius: 4px;
    width: 60%;
    color: white;
}

.news .input input::placeholder {
    color: white;
}


.input button {
    background: none;
    color: var(--text-color);

}

/* footer  */
footer {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 5rem 4% 0;
    z-index: 1;
    position: relative;
}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

.logo h2 {
    font-size: 3rem;
    margin: 0;
}

.logo p {
    width: 466px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.resources-list,
.about-us-list,
.buyer-services-list {
    padding: .5rem 0;
}

.resources-list a,
.about-us-list a,
.buyer-services-list a {
    color: var(--text-color);
    padding: .5rem 0;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4.5rem;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    padding: 1rem 0;
    position: relative;
}

.social-icons a {
    padding: .5rem 1.5rem 0 0;
    border-radius: 100%;

    position: relative;
}

.social-icons a i,
.social-media a i {
    padding: .7rem 0;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    border-radius: 100%;
    font-size: 1.5rem;
    color: var(--text-color);
    position: absolute;
    background: var(--bg-color-third);
}

.social-icons a:nth-of-type(1) i {
    padding-left: 1rem;
}

.social-icons a:nth-of-type(2) i {
    padding-left: .9rem;
}

.social-icons a:nth-of-type(3) i {
    padding-left: .8rem;
}

.social-icons a:nth-of-type(4) i {
    padding-left: .8rem;
}

.social-icons a:nth-of-type(5) i {
    padding-left: 1rem;
}

.social-icons a:nth-of-type(6) i {
    padding-left: .7rem;
}

.social-media a i {
    padding-left: .9rem;
}

.top-arrow {
    padding-right: 3rem;
}

.copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 1rem 0;
    border-top: .1rem solid rgb(0, 0, 0, .1);
}




/* profile css */
.content {
    position: relative;
}

.content-page {
    padding-left: 2rem;
}

#profile {
    max-width: 100%;
    overflow: hidden;
}

.profile-user {
    /* background-color: var(--bg-color-second); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.profile-user img {
    width: 100%;
    border-radius: .5rem;
}

.profile-user-details {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
    position: relative;
}

.profile-user-details img {
    width: 8rem;
}

.profile-button {
    position: absolute;
    left: 0;
    top: 100%;
    padding: .5rem;
    border: .1rem solid rgba(0, 0, 0, 0.29);
    background-color: transparent;
    border-radius: .5rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

/* event */

.event-buttons {
    border-radius: .5rem;
    width: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.event-buttons button {
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    margin: .5rem 0;
    text-align: left;
    box-shadow: 0 .3rem .2rem rgba(197, 165, 165, 0.74);

}

.event-buttons span {
    display: block;
    font-weight: 600;
    color: var(--bg-color-second);
    text-align: left;

}

.event-buttons span {
    transform: scaleX(2.5);
    transform-origin: 0 0;
}

.event-buttons span:first-child {
    transform: scaleX(3.5);
    transform-origin: 0 0;

}

.event-name {
    background: var(--bg-color-second);
    margin-top: 4rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
}

.event-name h2 {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.516);
}

.events-options {
    padding-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
}

.events-options button {
    padding: .5rem 1rem;
    background: var(--bg-color-second);
    font-weight: 500;
    color: rgba(0, 0, 0, 0.516);
    border-radius: .8rem .8rem 0 0;
    border: .1rem solid rgba(0, 0, 0, 0.046);
    border-bottom: none;
    margin: 0 -2px;
    font-size: 1.2rem;
    cursor: pointer;
}


.event-section {
    position: relative;
    display: none;
    overflow: hidden;
}

.event-overview-btn.active {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.events-overview {
    display: flex;
    padding: .5rem 0;
    gap: 2rem;
}

.events-overview img {
    height: 13rem;
    width: 22rem;
    border-radius: .5rem;
}

.event-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 60%;
}

.event-details-item {
    display: flex;
    align-items: flex-start;
    color: rgba(0, 0, 0, 0.46);
}

.event-details-item button {
    color: var(--bg-color);
}

.event-details-item h4 {
    margin: 0;
    flex: 1 2;
    position: relative;
}

.event-details-item div {
    margin: 0;
    flex: 1;
    flex-wrap: wrap;
    position: relative;
}

.popup-btn {
    background: transparent;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
}

.events-overview:nth-child(1) .event-details-item:nth-child(1) h4:nth-child(2) {
    color: black;
}

.events-overview:nth-child(1) .event-details-item:nth-child(2) h4:nth-child(2) {
    color: black;
}


.events-overview .event-details-item:nth-child(6) h4:nth-child(2) {
    color: green;
}

.event-details-item span {
    font-weight: 700;
    padding-right: 2rem;

}

.event-details-item h4:nth-child(1)::after {
    content: ":";
    position: absolute;
    top: 0;
    left: 70%;
}


.event-details-item-sub {
    display: flex;
    align-items: center;
    margin: 2px;
    gap: 2rem;
    width: 50rem;
}

.event-details-item-sub h5 {
    font-size: 1rem;
}

.event-details-item-sub a {
    color: var(--bg-color);
    font-weight: bold;
}

.event-details-item-sub-inner {
    display: flex;
    gap: 1rem;
}

.event-img {
    display: flex;
    gap: 1rem;
}

.event-img img {
    width: 10.5rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 10px;
}

.event-details-content-sub h3 {
    padding-top: 1.4rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.46);
}

.col h5:nth-child(1) {
    color: var(--bg-color);
    width: 3rem;
}

.progress {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: .3rem;
    width: 10rem;
}

.progress::before {
    content: "";
    position: absolute;
    top: .5rem;
    left: 0;
    height: .3rem;
    border-radius: 1rem;
    width: 10rem;
    background-color: var(--bg-color-second);
}

.progress::after {
    content: "";
    position: absolute;
    width: 60%;
    top: .5rem;
    left: 0;
    height: 100%;
    background: green;
    border-radius: 1rem;

}

.event-action {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    padding-right: 6rem;
}

.event-action button {
    font-size: 1rem;
}


.event-action-button {
    display: flex;
    gap: 2rem;
    font-weight: 600;

}

.event-action-button button {
    font-weight: 600;
}



.event-search {
    padding: .5rem 2rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.event-search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color-second);
    padding: .5rem 2rem;
    border-radius: .3rem;
    width: 50%;
}

.event-search input {
    padding: 0 1rem;
    background: transparent;
}

.event-search input[type="text"] {
    padding: 0 1rem;
    background: transparent;
}

.event-search-btn {
    display: flex;
    align-items: center;
    gap: 2rem;
}



/* booking recieved */
.table-container {
    width: 100%;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.146);
}

.table tbody tr {
    border-bottom: 2px solid rgba(0, 0, 0, 0.146);
}

.table tbody tr:last-child {
    border-bottom: none;
}

#booking-rejected .table tbody tr:nth-child(odd),
#booking-recieved .table tbody tr:nth-child(odd) {
    border-bottom: none;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    flex-wrap: nowrap;
}

.cell {
    padding-top: 1rem;
    flex: 1;
    text-align: left;

}

.cell-button {
    display: flex;
    gap: 5rem;
    padding: .5rem 9rem;
    padding-bottom: 2rem;
}


.table .approve-btn {
    background-color: green;
    color: var(--text-color);
    padding: .2rem 2rem;
    border-radius: .2rem;
}

.table .reject-btn {
    background-color: red;
    color: var(--text-color);
    padding: .2rem .5rem;
    border-radius: .2rem;
    text-align: center;
}

.table .resume-btn {
    background: var(--bg-color);
    color: var(--text-color);
    padding: .5rem 2rem;
    text-align: center;
    border-radius: .2rem;
}

.header {
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.146);
}

.select-all-checkbox {
    display: none;
}

.checkbox input[type="checkbox"] {
    cursor: pointer;
    width: 1rem;
    height: .8rem;
    text-align: left;
    padding: .5rem;
}

.checkbox input[type="checkbox"]:checked {
    color: blue;
}

.event-section-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.export-buttons {
    display: flex;
    gap: 21rem;
    justify-content: space-between;
}

.export-buttons button {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.46);
    background: transparent;
}

.export-buttons-inner button {
    padding: 0 1rem;
}

.pagination {
    padding: 1rem;

    background: transparent;
}

.pagination button {
    background: transparent;
}

.first,
.last,
.previous,
.next {
    background: transparent;
    padding: 0 .2rem;
}

.pagination .page-number {
    padding: .2rem .5rem;
    background: var(--bg-color-second);
    border-radius: .2rem;
}

.pagination button:nth-child(3) {
    background: var(--bg-color);
    color: var(--text-color);
}


/* popup */

.popup {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    bottom: 0;
    z-index: 999;
    background: rgba(0, 0, 0, .5);
    display: none;
}

.popup.active {
    display: block;
    z-index: 100;
    filter: none;
}

.popup-container {
    background: white;
    border-radius: 1rem;
    width: 65%;
    height: max-content;
    padding: 0 2rem;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.619);
}

.popup-container h1 {
    padding: 2rem 1rem 0;
}

.overlay,
.overlay-money {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 5;
    display: none;
}

.table {
    width: 100%;
    padding: 1rem;
    border-collapse: collapse;
}

.table thead th {
    border-bottom: 2px solid rgba(0, 0, 0, 0.345);
    color: black;
    font-weight: 600;
}

.table tr th input[type="checkbox"] {
    margin-right: .3rem;
}

.table th,
.table td {

    padding: 1rem;
    text-align: left;
    font-size: 1rem;

    color: rgba(0, 0, 0, 0.619);
}

#booking-confirmed .table thead th:nth-child(1) {
    width: 8rem;
}

.popup-container .table td button {
    width: 7rem;
    background: transparent;
    border: none;
    padding-right: 1rem;
    text-align: left;
    font-weight: 700;
    color: black;

}

.table .isactive {
    color: green;
}

.popup .paused {
    color: red;
}

.add-coupon {
    padding: 0 1rem;
}

.add-coupon h2 {
    padding: 1rem 0;
    font-size: 1.3rem;
}

.add-coupon input[type="text"] {
    width: 30%;
    background: var(--bg-color-second);
    border: 2px solid rgba(0, 0, 0, 0.459);
    border-radius: .2rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 1rem;
    color: rgba(0, 0, 0, 0.459);
}

.add-coupon button {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}



.analytics {
    display: none;
}

.analytics img {
    width: 100%;
}

.analytics-content {
    width: 100%;
    display: flex;
    gap: 5rem;
    padding-top: 2rem;
}

.analytics-content img {
    width: 100%;
}

.status {
    padding: 1rem 1rem;
    position: relative;
}

.status h2 {
    position: relative;
    padding-left: 3rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.619);
}

.status h2::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    background-color: rgb(84, 209, 49);
    border-radius: 4px;
    padding: 1rem;
}

.status h2:nth-child(2)::before {
    background-color: rgba(255, 170, 0, 0.911);
}

.status h2:nth-child(4)::before {
    background-color: rgb(222, 40, 8);
}

.status h2:nth-child(3)::before {
    background-color: cornflowerblue;
}

.booth-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.booth-info p {
    position: relative;
}

.booth-info p:nth-child(1)::before {
    content: ":";
    position: absolute;
    left: 80%;
}

.events-action-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}


/* wallet */

.wallet {
    padding: 1rem 2rem;
}

.wallet-content {
    background-color: rgba(0, 0, 0, 0.046);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.balance h2 {
    color: var(--bg-color);
}

.wallet-content button {
    font-size: .8rem;
    font-weight: 700;
}

.transaction-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 1rem;
}

.wallet-container .table thead tr {
    background: var(--bg-color-second);
    border-radius: .4rem;
    border-bottom: none;
}

.wallet-container .table thead th {
    border: none;
}

.wallet-container .table thead th:first-child {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border: none;
}

.wallet-container .table thead th:last-child {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border: none;

}

.wallet-container .table tbody td:last-child {
    color: green;

}

.wallet-container .table tbody td:last-child span {
    display: block;
    padding-left: 1.5rem;

}

.wallet-container .table td:nth-child(2) {
    border: none;
}

.payment-to {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
}

.payment-to p {
    font-weight: 400;
}

.payment-to h2 {
    font-weight: 600;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.623);
}

.payment-acc h2 {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.619);
}

.payment-acc .payment-company {
    color: var(--bg-color);
}

.payment-to img {
    padding: .5rem 1rem;
    border-radius: 5%;
}

/* addmoney */


.addmoney {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 15%;
    bottom: 0;
    z-index: 999;
    /* background: rgb(0, 0, 0, .5); */
    display: none;
}

.addmoney.active {
    display: block;
    z-index: 100;
    filter: none;
}

.addmoney-container {
    background: white;
    border-radius: 1rem;
    width: 65%;
    height: max-content;
    margin: 5%;
    padding: 2rem 5rem;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.619);
}

.addmoney h1 {
    border-bottom: 2px solid var(--bg-color-second);
}

.payment-acc-to {
    display: flex;
    padding: 1.5rem 0 0;
    gap: 5rem
}

.payment-acc-from {
    display: flex;
    padding: 1rem 0;
    gap: 3rem;
    border-bottom: 2px solid var(--bg-color-second);
}

.payment-acc-from .payment-company {
    color: rgb(188, 81, 81);
}

.payment-acc-to .payment-company {
    color: rgb(188, 81, 81);
}

.bank-details {
    display: flex;
    gap: 1rem;
}

.bank-address {
    padding-top: 1rem;
}

.payment-to .bank-details img {
    border: none;
    padding: .6rem 0;
    height: 5rem;
}

.form {
    padding: 1rem 0;
}

.form .btn {
    padding: .5rem 2rem;
    /* margin-top: 2rem; */
}

.form-row {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.form-cell label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.form-cell input[type="text"],
.form-cell input[type="number"],
.form-cell input[type="date"],
.form-cell select {
    width: 25rem;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: .3rem;
    background-color: var(--bg-color-second);
}

.file-enter {
    display: flex;
}

.file-label {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.file-label i {
    margin-right: 5px;
    background: var(--bg-color-second);
    border-radius: .5rem;
    padding: .5rem;
}

.file-input {
    position: absolute;
    left: -9999px;
}

.submit-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}


/* payment */

.payment {
    width: 100%;
    height: 100%;
    z-index: 999;
}

.payment.active {
    display: block;
    z-index: 100;
    filter: none;
}

.payment-container {
    background: white;
    width: 100%;
    height: max-content;

}

.payment-heading {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

}

.payment-heading h2 {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.769);
}

.payment .table {
    width: 100%;
    padding: 1rem 2rem;
    border-collapse: collapse;
}

.payment .table thead {
    background-color: var(--bg-color-second);
    border-radius: .5rem;
}


.payment .table th,
.table td {
    padding: 1rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.619);
    border: none;

}

.payment .table td button {
    width: max-content;
    background: var(--bg-color);
    border: none;
    border-radius: .2rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    font-weight: 700;
    color: var(--text-color);
}

.payment .table tr:nth-child(1) td button:nth-child(1),
.payment .table tr:nth-child(1) td button:nth-child(2),
.payment .table tr:nth-child(4) td button:nth-child(1),
.payment .table tr:nth-child(4) td button:nth-child(2) {
    background-color: var(--bg-color-second);
    color: rgba(0, 0, 0, 0.619);
}

.payment .table tr:nth-child(2) td button:nth-child(2) {
    background-color: green;
}

.payment .table tr:nth-child(3) td button:nth-child(2) {
    background-color: green;
}

.payment .table tr:nth-child(5) td button:nth-child(2) {
    background-color: green;
}


.table .payment-to {
    display: flex;
    align-items: center;
}

.table .isactive {
    color: green;
}


/* payment-management */
#appearence {
    display: none;
}

.payment-management {
    padding: 1rem 2rem;
}

.payment-management h2 {
    padding-bottom: 2rem;
}

.payment-management .btn {
    padding: 1rem 3rem;
    outline: 3px dotted var(--bg-color);
}

.saved-account {
    display: flex;
    /* justify-content: space-a; */
    gap: 15rem;
    padding: 3rem 0;
}

.saved-account .bank-details img {
    width: 3rem;
    height: 3rem;
}

.saved-account .bank-details h2 {
    color: rgba(0, 0, 0, 0.532);
    padding-top: 2rem;
    font-size: 1rem;
}

.saved-account .bank-name i {
    margin-right: .5rem;
    border-radius: 50%;
}

.selected-check i {
    background: rgb(3, 174, 3);
    border-radius: 50%;
    color: white;
}

.payment-action-button {
    display: flex;
    justify-content: space-between;


}

.payment-action-button button:nth-child(2) {
    display: inline-block;
    color: red;
    background: var(--bg-color);
    color: white;
    outline: none;
    padding: .5rem 2rem;
    border-radius: .2rem;
}

.payment-action-button button:nth-child(2) span {
    cursor: pointer;
    display: inline-block;
    transform: scaleX(3);
    padding-left: .5rem;
}



/* event-details */


#event-details {
    display: none;
}

.events-container .events-section {
    display: block;
}

.events-container {
    padding: 0;
}

.events-container h1 {
    padding: 1rem 0;
    color: var(--bg-color);
}

.events-container .events-overview .event-details {
    border-bottom: 1px solid rgba(0, 0, 0, 0.562);
}

.events-container .events-overview:nth-child(1) .event-details .event-details-item:nth-child(1) button {
    color: white;
    background: green;
    padding: .3rem 1rem;
    border-radius: .2rem;
    margin-bottom: 1rem;

}

.events-container .events-overview .event-img img {
    margin-bottom: 1rem;
}

.events-container .events-overview:nth-child(1) .event-details .event-details-item:nth-child(2) h4:nth-child(2) {
    color: rgb(0, 0, 0, .46);
}

.events-container .events-overview:nth-child(1) .event-details .event-details-item:nth-child(5) h4:nth-child(2) {
    color: green;
}

.events-container .events-overview:nth-child(1) .event-details .event-details-item:nth-child(6) h4:nth-child(2) {
    color: var(--bg-color);
}

.events-review .event-img {
    padding: 1rem 0;
}

.reviews-row {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
}

.reviews-details .ratings {
    display: flex;
    gap: .5rem;
}

.reviews-details i {
    font-size: .6rem;
    transform: translateY(-2px);
}


.reviews-details .ratings:nth-child(1) .progress::after {
    width: 95%;
}

.reviews-details .ratings:nth-child(3) .progress::after {
    width: 35%;
}

.reviews-details .ratings:nth-child(4) .progress::after {
    width: 15%;
    background: rgb(255, 208, 0);
}

.reviews-details .ratings:nth-child(5) .progress::after {
    width: 25%;
    background: red;
}

.reviews-details button {
    color: var(--bg-color);
    font-weight: 700;
    background: transparent;
    padding: .5rem 1rem;
    border: 3px solid var(--bg-color);
    border-radius: .2rem;
    margin-top: 2rem;
}


.review-container h3 {
    display: inline-block;
    padding-left: 2rem;
    margin: 2rem 0 1rem;
}

.review-container .star {
    background-color: green;
    padding: .2rem .4rem;
    border-radius: .2rem;
    color: white;
}

.review-container .star i {
    font-size: .5rem;
    display: inline-block;
    transform: translateY(-2px);
}


.review-container .review-box {
    padding: 2rem 0;
    display: flex;
    gap: 2rem;
}

.review-container .review-box .box {
    padding: 2rem 2.5rem;
    background-color: var(--bg-color-second);
}

.review-container .review-by {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.review-container .review-by h2 {
    color: rgba(0, 0, 0, 0.694);
    font-size: 1rem;
}

.review-container .review-by div {
    display: flex;
    gap: 2rem;
}

.review-container .review-by p i {
    margin-right: 1rem;
}

.review-container .review-by .fa-circle-check {
    background: rgb(5, 236, 66);
    border-radius: 50%;
    border: none;
    color: white;
}

S .review-container:nth-of-type(3) .star {
    background: rgba(218, 218, 5, 0.986);

}

.review-container:nth-of-type(4) .star {
    background: rgb(225, 11, 11);

}

@media screen and (max-width: 720px) {

    /* fixed -page */

    header {
        padding: 1rem 5%;
        position: sticky;
        top: 0;
    }

    .bottom-nav {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        display: none;
        flex-direction: column;
        align-items: flex-end;
        padding: 1rem 5%;
        gap: 1rem;
        border-bottom: .1rem solid rgb(0, 0, 0, .1);
    }

    .bottom-nav.active {
        display: flex;

    }

    .notification {
        width: 100%;
    }

    .mobile-menu-toggle {
        display: block;
        cursor: pointer;
        background: none;
        font-size: 1.6rem;
    }

    .sidebar-submenu {
        display: none;
    }

    .sidebar-submenu.active {
        display: inline-block;
    }


    #content {
        min-height: 100dvh;
        width: 100%;
        padding: 2rem .5rem 0 16%;
    }

    .home-user {
        overflow: hidden;
    }

    .home-user img {
        height: 15rem;
    }

    .home-user-details {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        padding: 1rem 1.2rem;
    }

    .home-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-buttons button {
        font-size: 1rem;
        margin: 1rem;
        text-align: center;
    }

    .home-event {
        grid-template-columns: 1fr;
    }

    .home-event-card {
        height: max-content;
        padding: 0;
        overflow: hidden;
        border-radius: 1rem;
    }

    .home-event-card-details {
        padding: 1rem .5rem;
    }

    .news {
        flex-direction: column;
        padding: 1rem 1%;
    }

    .input {
        width: 100%;
        margin-top: 1rem;
        padding: .5rem;
    }

    footer {
        padding: 2rem 2% 0;
    }

    .footer-box {
        flex-direction: column;
        align-items: self-start;
    }

    .logo p {
        width: 100%;
    }

    .social-media {
        padding: 1rem 0;
    }

    .top-arrow {
        display: none;
    }

    .copyright {
        flex-direction: column;
        gap: 1rem;
    }

    /* profile */

    .profile-user {
        overflow: hidden;
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 2rem;
    }

    .profile-button {
        left: 1rem;
    }

    .profile-user-details {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        padding: 1rem 1.2rem;
    }

    .profile-user-details img {
        width: 100%;
    }

    .user-name h3 {
        font-size: .9rem;
    }

    .content-page {
        padding-left: 0;
    }

    /* event */
    .event-buttons {
        width: 16.5rem;
        margin-top: 3rem;
    }

    .event-buttons button {
        padding: .5rem 1rem;

    }

    .events-options {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 1rem;
    }

    .events-options button {
        border-radius: .5rem;
    }

    .events-overview {
        flex-direction: column;
        max-width: 100%;
    }

    .events-overview img {
        width: 100%;
    }

    .event-details {
        display: block;
        width: 100%;
    }

    .event-img img {
        width: 9rem;
    }

    .event-details-item-sub {
        gap: 1rem;
    }

    .event-details-item-sub h5 {
        font-size: .8rem;
    }

    .event-details-item h4 {
        font-size: .8rem;
    }

    .event-details-item h4:nth-child(1)::after {
        left: 90%;
    }

    .progress {
        display: none;
    }

    .event-action {
        flex-direction: column-reverse;
        padding-top: 1rem;
        padding-right: 0;
        gap: 1rem;
    }

    .event-action-button {
        flex-direction: column;
        padding-bottom: 2rem;
    }

    /* booking recieved */

    .event-search {
        padding: 0;
        flex-direction: column;
    }

    .event-section-footer {
        flex-direction: column;
    }

    .event-search-box {
        width: 100%;
        padding: 1rem;
    }

    .event-search-btn {
        justify-content: space-between;
        padding: .5rem 0;
    }

    .export-buttons {
        gap: 1rem;
    }

    .select-all-checkbox {
        display: block;
    }

    /* analytics */

    .analytics-content {
        flex-direction: column;
        gap: 1rem;
    }

    .status {
        padding: 1rem 0;
    }

    .analytics {
        padding-top: 2rem;
    }

    /* wallet */
    .wallet {
        padding: 1rem 0;
        overflow: hidden;
    }

    .wallet .wallet-content {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .wallet-container .transaction-heading {
        flex-direction: column;
        gap: 1rem;
    }

    /* addmoney */

    .addmoney {
        left: 0;
        top: 0;
        width: 100%;
    }

    .addmoney-container {
        padding: 2rem 1rem;
        width: 100%;
        margin: 0;
    }

    .form-row {
        flex-direction: column;
        width: 100%;
    }

    .form-cell {
        width: 100%;
    }

    .payment-acc-to,
    .payment-acc-from {
        max-width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .form-cell input[type="text"],
    .form-cell input[type="number"],
    .form-cell input[type="date"],
    .form-cell select {
        width: 100%;
    }

    /* popup */

    .popup {
        left: 0;
    }

    .popup-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }


    .table {
        padding: 0;
    }

    .table,
    .table tr,
    .table td {
        width: 100%;
        display: inline-block;
        position: relative;

    }

    .table tbody tr td {
        text-align: right;
        position: relative;
        padding-left: 50%;
    }

    .table tbody tr td::before {
        content: attr(data-label);
        ;
        position: absolute;
        left: 0;
        width: 50%;
        font-weight: 600;
        font-size: 1rem;
        text-align: left;
        padding-left: 1rem;
    }

    .add-coupon input[type="text"] {
        width: 100%;
        margin: 1rem 0;
    }

    .add-coupon button {
        margin: 0;
    }

    .table td button {
        padding: 0;
        margin: 0;
        text-align: right;
    }


    /* payment */
    .payment .table {
        padding: 0;
    }

    .payment-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .table thead th {
        display: none;
    }

    .table thead th:nth-child(1) {
        display: block;
    }

    .table,
    .table tr,
    .table td {
        width: 100%;
        display: inline-block;
        position: relative;
    }

    .payment-container .table tr td:last-child {
        padding-left: 40%;
    }

    .table tbody tr td {
        text-align: right;
        position: relative;
        padding-left: 50%;
        padding-top: 2rem;
    }

    .payment .table tr {
        border: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.46);
    }

    .table tbody tr td::before {
        content: attr(data-label);
        ;
        position: absolute;
        left: 0;
        width: 50%;
        font-weight: 600;
        font-size: 1rem;
        text-align: left;

    }

    .table td:nth-child(2) {
        border: none;
    }

    .table .payment-to {
        flex-direction: column;

    }

    .table .payment-to img {
        flex-direction: column;
        padding: 0;
        text-align: center;
        margin-left: 3rem;

    }

    .payment .table td button {
        margin-bottom: 1rem;
    }

    .payment-heading {
        display: block;
    }

    /* payment-management */


    .payment-management {
        padding: 1rem .5rem;
    }

    .saved-account {
        flex-direction: column;
        gap: 1rem;
    }

    .payment-action-button button:nth-child(1) {
        text-align: left;
        padding: none;
    }



    /* event-details */

    .events-container {
        padding: 1rem .5rem;
    }

    .events-container .event-img img {
        width: 100%;
        margin-bottom: 1rem;
    }

    .reviews-row {
        flex-direction: column;
    }

    .reviews-details p {
        display: inline;
        padding-right: .2rem;
    }

    .ratings .progress {
        display: inline;
        width: 70%;
    }

    .reviews-details button {
        margin: 0;
    }

    .review-container {
        padding-top: 2rem;
    }

    .review-container h3 {
        padding: 0;
    }

    .review-container .review-by {
        flex-direction: column;
        gap: 1rem;
        text-align: left;
        align-items: flex-start;
        padding-bottom: 1rem;
        overflow: hidden;
        flex-wrap: wrap;
    }

    .review-container .review-box {
        padding: 1rem 0;
        gap: 1rem;
    }

    .review-container .review-box .box {
        padding: 1rem;

    }
}